{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "shockboom",
      "config" : {
        "statusEffects" : [ "electrified" ]
      }
    },
    {
      "action" : "sound",
      "options" : [ "/projectiles/guns/grenades/nutbomb/explodeS.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2.8,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
